{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-5">

      <h1>Restaurant Waitlist App</h1>

      <p>A demo application that leverages the power of <a href="http://twilio.com">Twilio</a> to
        provide fanatical customer service to restaurant diners
      <p>
        <td>
          {% if not user.is_anonymous %}
          <h3>User "{{ user.username }}" is logged in. </h3>
          {% endif %}
          <a class="btn btn-primary btn-cs" href="{% url 'list_guests' %}">
            {% if user.is_anonymous %}
              Let's get started with the demo
            {% else %}
              Click to View list
            {% endif %}
          </a>
        </td>
      </p>
    </div>

  </div>
{% endblock %}
