{% extends "base.html" %}

{% block title %}Guests waiting{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">

      <div class="page-header">
        <h1>Table wait list</h1>
        <a class="btn btn-primary" href="{% url 'new_guest' %}">
          {% if user.is_anonymous %}
            Put my name on the list
          {% else %}
            Add a name
          {% endif %}
        </a>
      </div>
      <table class="table table-striped table-hover">
        {% if object_list %}
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Number of guests</th>
              <th>Waiting Since</th>
              {% if not user.is_anonymous %}
                <th>Actions</th>
              {% endif %}
            </tr>
          </thead>
        {% endif %}
        <tbody>
          {% for guest in object_list %}
            <tr  {% if request.GET.q == guest.code %} class="success" {% endif %} >
              <td>{{ forloop.counter }}</td>
              {% if not user.is_anonymous %}
                <td><a href="{{ guest.get_absolute_url }}">{{ guest.name }}</a></td>
              {% else %}
                <td>{{ guest.name }}</td>
              {% endif %}
              <td>{{ guest.number_of_guests }}</td>
              <td>{{ guest.created }}</td>
              {% if not user.is_anonymous %}
                <td>
                  <a class="btn btn-success btn-xs" href="{% url 'page_guest' guest.code %}">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Page
                  </a>
                  <a class="btn btn-default btn-xs" href="{% url 'edit_guest' guest.code %}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit
                  </a>
                  <a class="btn btn-xs btn-danger" href="{% url 'delete_guest' guest.code %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                  </a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}


        </tbody>

      </table>
    </div>
  </div>
{% endblock %}
