{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %}Guest{% endblock title %}

{% block content %}
  <div class="row">

    <div class="col-lg-9">

      <div class="page-header">
        {% if not object %}
          <h1>Welcome, guest</h1>
        {% else %}
          <h1>Edit details</h1>
        {% endif %}
      </div>

      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="panel-heading">
            <p>
              Enter your name and number of guests in your party. Please provide your phone number so that we
              can page you when your table is ready (don't worry, we won't display your phone number to anyone).
            </p>
          </div>

          <form class="form-horizontal" method="post">
            {% csrf_token %}
            {{ form|as_bootstrap_horizontal }}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a href="{% url 'list_guests' %}" class="btn btn-default">
                  {% if user.is_anonymous %}
                    Cancel
                  {% else %}
                    Back to list
                  {% endif %}
                </a>
                <button type="submit" class="btn btn-primary">
                  {% if object %}
                    Update
                  {% else %}
                    Confirm
                  {% endif %}
                </button>
                {% if object %}
                  <a class="btn btn-danger" data-method="delete" href="{% url 'delete_guest' guest.code %}">Delete</a>
                {% endif %}
              </div>
            </div>
          </form>

        </div>


      </div>
    </div>
  </div>
{% endblock %}